---
import InternalLink from '../../InternalLink.astro';
---

<section>
  <header>
    <h2>대표 작업물</h2>
    <InternalLink href="/works">모두 보러 가기</InternalLink>
  </header>

  <div>
    <article>
      <InternalLink href="/works/asdf">
        <img src="" alt="썸네일" aria-hidden="true" />
        <h3>포트폴리오 웹사이트</h3>
        <p>나에 대해 소개하는 웹사이트</p>
        <ul>
          <li>React</li>
          <li>TypeScript</li>
        </ul>
      </InternalLink>
    </article>
    <article>
      <InternalLink href="/works/qwer">
        <img src="" alt="썸네일" aria-hidden="true" />
        <h3>쿠팡플레이 개선 확장</h3>
        <p>쿠팡 플레이 웹사이트를 개선 시켜주는 브라우저 확장 프로그램.</p>
        <ul>
          <li>React</li>
          <li>TypeScript</li>
        </ul>
      </InternalLink>
    </article>
  </div>
</section>
