---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'button'> {
  /**
   * @default 'button'
   */
  type?: NonNullable<HTMLAttributes<'button'>['type']>;
}

const { type = 'button', class: className, ...restProps } = Astro.props;
---

<button
  {type}
  class:list={[
    'inline-flex cursor-pointer items-center justify-center border-0 bg-transparent',
    className,
  ]}
  {...restProps}
>
  <slot />
</button>
