---
import type { HTMLAttributes } from 'astro/types';
import type { RootLink, WorkLink, WorksLink } from '../core/links.js';

interface Props extends HTMLAttributes<'a'> {
	href: RootLink | WorksLink | WorkLink;
}
---

<a {...Astro.props}>
	<slot />
</a>
