---
import type { HTMLAttributes } from 'astro/types';
import type { WorkLink, WorksLink } from '../core/links.js';

interface Props extends HTMLAttributes<'a'> {
  href: '/' | WorksLink | WorkLink;
}
---

<a {...Astro.props}>
  <slot />
</a>
