---
import About from '../components/pages/index/About.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const title = '포트폴리오';
---

<BaseLayout {title} pageName={'home'}>
  <main>
    <About />
  </main>
</BaseLayout>
