---
import About from '../components/pages/index/About.astro';
import SelectedWorks from '../components/pages/index/SelectedWorks.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const title = '포트폴리오';
---

<BaseLayout {title} pageName={'home'}>
	<main class="mx-auto mb-40 mt-20 max-w-[42rem] px-6">
		<About class="mb-23" />
		<SelectedWorks />
	</main>
</BaseLayout>
